
# build directories
build/

# vcpkg package manager files
vcpkg_installed/
vcpkg/

# Visual Studio Code settings
.vscode/

# building scripts
# bar.bat
# r.bat

# logs
logs/*.html

# Demos contains reference projects that should not be tracked
Demos/

# Slang instillation
tools/