name: Windows Build

on:
  push:
    branches: [main, develop]
  

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: checkout repository
      uses: actions/checkout@v4
        
    - name: setup vcpkg
      uses: lukka/run-vcpkg@v11        
      with:
        vcpkgGitCommitId: '5b1214315250939257ef5d62ecdcbca18cf4fb1c'
      
    - name: Check dependencies
      run: |
        .\vcpkg\vcpkg list
        
    - name: Run cmake
      uses: lukka/run-cmake@v10
      with:
        configurePreset: 'ninja-multi-vcpkg'
        buildPreset: 'ninja-multi-vcpkg'
        buildPresetAdditionalArgs: "['--config Release']"

    - name: Install Vulkan SDK
      run: |
        $ProgressPreference = 'SilentlyContinue'
        Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/latest/windows/vulkan-sdk.exe" -OutFile VulkanSDK.exe
        .\VulkanSDK.exe --accept-licenses --default-answer --confirm-command install
    
    
    - name: Build
      run: |
        cmake -B build -S . `
          -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake"

