name: Windows Build

on:
  push:
    branches: [main, develop]
  

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: checkout repository
      uses: actions/checkout@v4
        
    - name: setup vpkg
      uses: lukka/get-vcpkg@master
      with:
        vpkg_root_path: ${{ github.workspace }}/vcpkg
        
      
    - name: Bootstrap vcpkg
      run: |
        cd vcpkg
        .\bootstrap-vcpkg.bat
      
    - name: Install dependencies
      run: |
        .\vcpkg\vcpkg install --triplet x64-windows

    - name: Check dependencies
      run: |
        .\vcpkg\vcpkg list

    - name: Install Vulkan SDK
      run: |
        $ProgressPreference = 'SilentlyContinue'
        Invoke-WebRequest -Uri "https://sdk.lunarg.com/sdk/download/latest/windows/vulkan-sdk.exe" -OutFile VulkanSDK.exe
        .\VulkanSDK.exe --accept-licenses --default-answer --confirm-command install
    
    
    - name: Build
      run: |
        cmake -B build -S . `
          -DCMAKE_TOOLCHAIN_FILE="${{ github.workspace }}/vcpkg/scripts/buildsystems/vcpkg.cmake"

